*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
.all{
    background-color: #E1DCD9;
    width: auto;
}
.all2{
    background-color: #E1DCD9;
}
h3{
    font-family: 'Zen Maru Gothic', sans-serif;
}
h4{
    font-family: 'Zen Maru Gothic', sans-serif;
}
p{
    font-family: 'Zen Maru Gothic', sans-serif;
}
.top{
    background-image: url(img/top.png);
    background-size: cover;
    height: 960px;
}
.aboutall{
    height: 1220px;
    margin-top: 300px;
}
.aboutall h1{
    display: none;
}
.topimg1{
    display: none;
}

a{
    text-decoration: none;
    color: #3D313F;
}
a:hover{
    color: #A67F78;
    transition: 0.5s;
}
.aboutp{
    height: 214px;
    top: 100px;
    display: flex;
}

.abtitle{
    text-align: center;
    font-weight: lighter;
    border-bottom: 1px solid #31425D;
    padding-bottom: 20px;
    letter-spacing: 0.3em;
    width: 640px;
    margin: 0 auto;
    color: #3D313F;
}
.letter img{
    width: 670px;
    margin-left: 100px;
    float: right;
    text-align: center;

}
.letter{
    margin: 0;
}
.letter p{
    float: left;
    position: relative;
    margin-left: 100px;
    top: 430px;
    color: #3D313F;
    letter-spacing: 0.1em;
    line-height: 66px;
}

.findp{
    height: 214px;
    left: 1000px;
}
.fih1{
    display: none;
}
.fc{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 150px;
}
.findcontent{
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 40px;
}
.affortable{
    float: left;
    text-align: center;
    width: 350px;
    height: 370px;
    position: relative;
}
.affortable h3{
    font-size: 25px;
}
.affortable h4{
    font-size: 15px;
    padding-bottom: 20px;
}
.affortable img{
    width: 350px;
}
.affortable+ .seats{
    border-right: 0;
    border-left: 1px solid #333;
}
.seats{
    float: right;
    text-align: center;
    width: 350px;
    height: 370px;
}
.seats img{
    width: 350px;
}
.seats h3{
    font-size: 25px;
}
.seats h4{
    font-size: 15px;
    padding-bottom: 20px;
}
.findcontent2{
    padding-top: 40px;
    overflow: hidden;
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    height: 500px;
}
.equipment{
    float: left;
    text-align: center;
    width: 350px;
    height: 370px;
}
.equipment img{
    width: 350px;
}
.equipment h3{
    font-size: 25px;
}
.equipment h4{
    font-size: 15px;
    padding-bottom: 20px;
}
.equipment+ .recommendation{
    border-right: 0;
    border-left: 1px solid #333;
}
.recommendation{
    float: right;
    text-align: center;
    width: 350px;
    height: 370px;
}
.recommendation img{
    width: 350px;
}
.recommendation h3{
    font-size: 25px;
}
.recommendation h4{
    font-size: 15px;
    padding-bottom: 20px;
}
.findcontent+ .findcontent2{
    border-bottom: 0;
    border-top: 1px solid #333;
}

footer{
    bottom: 0;
    background-image: url(img/footer.png);
    background-repeat: no-repeat;
    color: #FFF;
    text-align: center;
    height: 75px;
    padding-top: 80px;
    font-size: 26px;
    letter-spacing: 20px;
    bottom: 0;
}
footer p{
    background-color: transparent;
}

.af h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.af h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.af h2{
    font-weight: lighter;
    text-align: center;
    margin-top: 112px;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.board{
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
    margin-top: 130px;
    margin-bottom: 140px;
}

.cheki{
    width: 220px;
    margin: 20px;
}
.cheki a p{
    display: block;
    margin: auto;
}
.cheki a h3{
    display: block;
    margin: auto;
}
.chekiset1{
    position: relative;
}
.chekiset2{
    position: relative;
}
.chekiset3{
    position: relative;
}
.chekiset4{
    position: relative;
}
.cheki img{
    width: 234px;
    border: 20px solid #fff;
    border-bottom: 160px solid #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}
.chekiset1 p{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 9em;
}
.chekiset1 h3{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5em;
}
.chekiset2 p{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 9em;
}
.chekiset2 h3{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5em;
}
.chekiset3 p{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 9em;
}
.chekiset3 h3{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5em;
}
.chekiset4 p{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 9em;
}
.chekiset4 h3{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5em;
}
.masute1{
    position: absolute;
    left: 44%;
    bottom: 83%;
    width: 100px;
    min-width: 0;
}
.masute2{
    position: absolute;
    left: 44%;
    bottom: 83%;
    width: 100px;
    min-width: 0;
}
.masute3{
    position: absolute;
    left: 44%;
    bottom: 83%;
    width: 100px;
    min-width: 0;
}
.masute4{
    position: absolute;
    left: 44%;
    bottom: 83%;
    width: 100px;
    min-width: 0;
}
.name{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name2{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name3{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name4{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name5{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name6{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name7{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name8{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name9{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name10{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name11{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name12{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name13{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name14{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name15{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.name16{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.naiyo{
    display: flex;
}
.naiyo1{
    display: flex;
}
.naiyo2{
    display: flex;
}
.naiyo3{
    display: flex;
}
.ab1 h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.ab1 h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.ab2 h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.ab2 h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.ab3 h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.ab3 h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.ab4 h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.ab4 h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.ab1 img{
    margin-top: 70px;
    height: 560px;
    margin-bottom: 380px;
}
.naikan{
    margin-top: 70px;
    width: 640px;
    margin-bottom: 380px;
    margin-left: auto;
}
.ab1 p{
    display: block;
    margin-top: 300px;
    margin-left: 80px;
    font-size: 20px;
    letter-spacing: 10%;
    line-height: 57px;
}
.ab2 p{
    display: block;
    margin-top: 190px;
    margin-left: 80px;
    line-height: 57px;
    letter-spacing: 10%;
    font-size: 20px;
}
.naiyo2 span{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    display: block;
}
.naiyo3 p{
    display: block;
    margin-top: 200px;
    margin-left: 140px;
    margin-right: 200px;
    font-size: 20px;
    letter-spacing: 10%;
    line-height: 57px;
}
.naiyo3{
    margin-top: 100px;
}
.map{
    display: flex;
}
.map2{
    display: none;
}
.ab3{
    margin-bottom: 370px;
}
.naiyo4 img{
    height: 195px;
    display: block;
    margin: auto;
}
.naiyo4{
    position: relative;
}
.naiyo4 a{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-decoration: none;
    display: block;
    margin: auto;
}
.naiyo5 img{
    display: block;
    margin: auto;
    height: 195px;
}
.naiyo5{
    position: relative;
}
.naiyo5 a{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-decoration: none;
    display: block;
    margin: auto;
}
.naiyo6 img{
    display: block;
    margin: auto;
    height: 195px;
}
.naiyo6{
    position: relative;
}
.naiyo6 a{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-decoration: none;
    display: block;
    margin: auto;
}
.naiyo7 img{
    height: 195px;
    display: block;
    margin: auto;
}
.naiyo7{
    position: relative;
}
.naiyo7 a{
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-decoration: none;
    display: block;
    margin: auto;
}
.donokafe{
    display: none;
}
.nabr1 .nabr2 .nabr3 .nabr4 .nabr5{
    display: none;
}
.naikan2{
    display: none;
}
.nabr1{
    display: none;
}
.nabr2{
    display: none;
}
.nabr3{
    display: none;
}
.nabr4{
    display: none;
}
.nabr5{
    display: none;
}
.nabr7{
    display: block;
}
.monbr{
    display: none;
}

@media screen and (min-width:481px) {
    .letterbr1{
        display: none;
    }
    .letterbr2{
        display: none;
    }
    .letterbr4{
        display: none;
    }
    
}



@media screen and (max-width:480px) {
    .all{
         overflow: hidden;
         height: auto;
    }
    .all2{
        overflow: hidden;
    }
    .top{
        background-image: url(img/topiphone.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
    }
    .aboutp{
        display: none;
    }
    .topimg1 {
        width: 100%;
        margin-top: 40px;
        display: block;
    }
    .topimg2{
        display: none;
    }
    .aboutall{
        margin-bottom: 200px;
    }
    .aboutall h1{
        display: flex;
        align-items: center;
        padding-right: 180px;
        font-size: 30px;
        color: #3D313F;
    }
    .aboutall h1::before{
        content: '';
        flex-grow: 1;
        height: 3px;
        background-color: #3D313F;
        margin-right: 22px;
    }
    .fih1{
        display: flex;
        align-items: center;
        padding-right: 180px;
        font-size: 30px;
        color: #3D313F;
    }
    .fih1::before{
        content: '';
        flex-grow: 1;
        height: 3px;
        background-color: #3D313F;
        margin-right: 22px;
    }
    .findp{
        display: none;
    }
    .donokafe{
        display: block;
        text-align: center;
        font-family: 'Zen Maru Gothic', sans-serif;
        padding-top: 90px;
        padding-bottom: 90px;
        font-weight: 400;
    }
    .fc{
        padding-bottom: 820px;
    }
    .affortable{
        background-image: url(img/haike-.png);
        width: 500px;
        height: 625px;
    }
    .affortable img{
        margin-top: 85px;
        width: 50%;
    }
    .affortable h3{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 24px;
    }
    .affortable h4{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 45px;
    }
    .affortable p{
        font-size: 17px;
        font-weight: 300;
        line-height: 2em;
    }
    .seats{
        width: 500px;
        height: 500px;
    }
    .seats img{
        margin-top: 85px;
        width: 50%;
    }
    .seats h3{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 24px;
    }
    .seats h4{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 45px;
    }
    .seats p{
        font-size: 17px;
        font-weight: 300;
        line-height: 2em;
    }
    .equipment{
        background-image: url(img/haike-.png);
        width: 500px;
        height: 625px;
        padding-bottom: 150px;
        background-repeat: no-repeat;
    }
    .equipment img{
        margin-top: 85px;
        width: 50%;
    }
    .equipment h3{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 24px;
    }
    .equipment h4{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 45px;
    }
    .equipment p{
        font-size: 17px;
        font-weight: 300;
        line-height: 2em;
    }
    .recommendation{
        width: 500px;
        height: 625px;
    }
    .recommendation img{
        margin-top: 85px;
        width: 50%;
    }
    .recommendation h3{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 24px;
    }
    .recommendation h4{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 45px;
    }
    .recommendation p{
        font-size: 17px;
        font-weight: 300;
        line-height: 2em;
    }
    .abtitle{
        width: 100%;
        text-align: center;
        margin-top: 100px;
        word-break: keep-all;
        border-top: 1px solid #31425D;
        margin-left: 44px;
        margin-right: 44px;
        font-size: 20px;
        letter-spacing: 0mm;
        width: 78%;
        padding-top: 40px;
        padding-bottom: 40px;
        word-wrap: break-word;
        line-height: 2em;
        font-weight: 700;
    }
    .letter img{
        float: none;
        margin-left: 0;
        width: 100%;
    }
    .letter p{
        float: none;
        position: unset;
        margin-left: 0;
        top: unset;
        font-size: 15px;
        word-break: keep-all;
        text-align: center;
        width: 100%;
        word-wrap: break-word;
        padding-top: 60px;
        line-height: 40px;
    }
    .letterbr3{
        display: none;
    }
    .findcontent{
        display: flex;
        overflow: unset;
        flex-direction: column;
        margin-left: unset;
        margin-right: unset;
        padding-bottom: unset;
    }
    .affortable+ .seats{
        border-right: unset;
        border-left: unset;
    }
    .equipment+ .recommendation{
        border-right: unset;
        border-left: unset;
    }
    .findcontent+ .findcontent2{
        border-bottom: unset;
        border-top: unset;
    }
    .findcontent2{
        overflow: unset;
        flex-direction: column;
        margin-left: unset;
        margin-right: unset;
        padding-bottom: unset;
    }
    .affortable{
        margin: 0 auto;
    }
    .seats{
        margin: 0 auto;
    }
    .equipment{
        margin: 0 auto;
    }
    .recommendation{
        margin: 0 auto;
    }

    footer{
        padding-top: 100px;
    }

    .af h1{
        display: flex;
        align-items: center;
        padding-right: 180px;
        font-size: 30px;
        color: #3D313F;
    }
    .af h1::before{
        content: '';
        flex-grow: 1;
        height: 3px;
        background-color: #3D313F;
        margin-right: 22px;
    }
    .board{
        overflow: auto;
        white-space: nowrap;
        display: flex;
        justify-content: unset;
    }
    .chekiset1{
        margin-right: 50px;
    }
    .chekiset2{
        margin-right: 50px;
    }
    .chekiset3{
        margin-right: 50px;
    }
    .chekiset4{
        margin-right: 50px;
    }

    .af h1{
        font-size: 25px;
    }
    footer{
        height: 45px;
        font-size: 14px;
    }
    .name{
        background-image: url(img/nanhudo/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name2{
        background-image: url(img/agoo/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name3{
        background-image: url(img/taiseikan/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name4{
        background-image: url(img/connel/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name5{
        background-image: url(img/common/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name6{
        background-image: url(img/monsun/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name7{
        background-image: url(img/ag/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name8{
        background-image: url(img/fruit/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name9{
        background-image: url(img/ohuro/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name10{
        background-image: url(img/en/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name11{
        background-image: url(img/conma/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name12{
        background-image: url(img/nene/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name13{
        background-image: url(img/soul/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name14{
        background-image: url(img/hat/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name15{
        background-image: url(img/dixans/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    .name16{
        background-image: url(img/5/iphone.png);
        padding-top: 50vh;
        padding-bottom: 50vh;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
    }
    
    .ab1 h1{
        display: flex;
        align-items: center;
        padding-right: 180px;
        font-size: 30px;
        color: #3D313F;
    }
    .ab1 h1::before{
        content: '';
        flex-grow: 1;
        height: 3px;
        background-color: #3D313F;
        margin-right: 22px;
    }
    .ab1 img{
        height: 380px;
        margin-bottom: 80px;
    }
    .ab1 p{
        margin-left: unset;
        font-size: 15px;
        letter-spacing: 0.1em;
        text-align: center;
        margin-top: unset;
        line-height: 40px;
        margin-bottom: 260px;
    }
    .nabr1 .nabr2 .nabr3 .nabr4 .nabr5{
        display: block;
    }
    .naiyo1{
        display: block;
    }
    .ab2 h1{
        display: flex;
        align-items: center;
        padding-right: 180px;
        font-size: 30px;
        color: #3D313F;
    }
    .ab2 h1::before{
        content: '';
        flex-grow: 1;
        height: 3px;
        background-color: #3D313F;
        margin-right: 22px;
    }
    .naikan2{
        display: block;
        height: 380px;
        text-align: right;
        margin-top: 70px;
        margin-left: auto;
    }
    .naikan{
        display: none;
    }
    .ab2 p{
        display: block;
        font-size: 15px;
        margin-bottom: 100px;
    }
    .naiyo2{
        display: block;
    }
    .ab2 p{
        margin-left: unset;
        text-align: center;
        letter-spacing: 3%;
        line-height: 57px;
    }
    .ab3{
        margin-bottom: 0;
    }
    .ab3 h1{
        display: flex;
        align-items: center;
        padding-right: 180px;
        font-size: 30px;
        color: #3D313F;
    }
    .ab3 h1::before{
        content: '';
        flex-grow: 1;
        height: 3px;
        background-color: #3D313F;
        margin-right: 22px;
    }
    .map{
        display: none;
    }
    .map2{
        display: block;
        width: 95%;
        text-align: center;
        background-image: url(img/map.png);
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .map2 iframe {
        top: 0;
        left: 0;
        height: 250px;
        width: 320px;
        text-align: center;
      }
      .naiyo3{
          display: block;
      }
      .naiyo3 p{
          margin-left: 50px;
          margin-right: 50px;
          margin-top: 100px;
          text-align: center;
          line-height: 45px;
      }
      .nabr1{
          display: block;
      }
      .nabr2{
          display: block;
      }
      .nabr3{
          display: block;
      }
      .nabr4{
          display: block;
      }
      .nabr5{
          display: block;
      }
      .nabr7{
          display: none;
      }
      .naiyo3 p{
          font-size: 15px;
      }
     
      .ab4 h1{
        display: flex;
        align-items: center;
        padding-right: 180px;
        font-size: 30px;
        color: #3D313F;
    }
    .ab4 h1::before{
        content: '';
        flex-grow: 1;
        height: 3px;
        background-color: #3D313F;
        margin-right: 22px;
    }
    
    .monbr{
        display: block;
    }
    
}

