*{
    padding: 0;
    margin: 0;
}
.all{
    background-color: #E1DCD9;
    width: auto;
}
.top{
    background-image: url(img/top.png);
    background-size: cover;
    height: 960px;
}
.aboutall{
    height: 1220px;
    margin-top: 300px;
}

a{
    text-decoration: none;
    color: #3D313F;
}
a:hover{
    color: #A67F78;
    transition: 0.5s;
}
.aboutp{
    height: 214px;
    top: 100px;
    display: flex;
}

.abtitle{
    text-align: center;
    font-weight: lighter;
    border-bottom: 1px solid #31425D;
    padding-bottom: 20px;
    letter-spacing: 0.3em;
    width: 640px;
    margin: 0 auto;
    color: #3D313F;
}
.letter img{
    width: 670px;
    margin-left: 100px;
    float: right;
    text-align: center;

}
.letter{
    margin: 0;
}
.letter p{
    float: left;
    position: relative;
    margin-left: 100px;
    top: 430px;
    color: #3D313F;
    letter-spacing: 0.1em;
    line-height: 66px;
}

.findp{
    height: 214px;
    left: 1000px;
}
.fc{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 150px;
}
.findcontent{
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 40px;
}
.affortable{
    float: left;
    text-align: center;
    width: 350px;
    height: 370px;
    position: relative;
}
.affortable img{
    width: 350px;
}
.affortable+ .seats{
    border-right: 0;
    border-left: 1px solid #333;
}
.seats{
    float: right;
    text-align: center;
    width: 350px;
    height: 370px;
}
.seats img{
    width: 350px;
}
.findcontent2{
    padding-top: 40px;
    overflow: hidden;
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
}
.equipment{
    float: left;
    text-align: center;
    width: 350px;
    height: 370px;
}
.equipment img{
    width: 350px;
}
.equipment+ .recommendation{
    border-right: 0;
    border-left: 1px solid #333;
}
.recommendation{
    float: right;
    text-align: center;
    width: 350px;
    height: 370px;
}
.recommendation img{
    width: 350px;
}
.findcontent+ .findcontent2{
    border-bottom: 0;
    border-top: 1px solid #333;
}

footer{
    background-image: url(img/footer.png);
    background-repeat: no-repeat;
    color: #FFF;
    text-align: center;
    height: 75px;
    padding-top: 80px;
    font-size: 26px;
    letter-spacing: 20px;
}
footer p{
    background-color: transparent;
}

.af h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.af h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.af h2{
    font-weight: lighter;
    text-align: center;
    margin-top: 112px;
}

.board{
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
    margin-top: 130px;
    margin-bottom: 140px;
}

.cheki{
    position: relative;
    width: 220px;
    margin: 20px;
}
.cheki img{
    width: 234px;
    border: 20px solid #fff;
    border-bottom: 160px solid #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}
.cheki p{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 7em;
}
.cheki h3{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 4em;
    padding-left: 28px;
}
.masute1{
    position: absolute;
    left: 130px;
    bottom: 335px;
    width: 100px;
    min-width: 0;
}
.masute2{
    position: absolute;
    left: 480px;
    bottom: 335px;
    width: 100px;
    min-width: 0;
}
.masute3{
    position: absolute;
    left: 825px;
    bottom: 335px;
    width: 100px;
    min-width: 0;
}
.masute4{
    position: absolute;
    left: 1170px;
    bottom: 335px;
    width: 100px;
    min-width: 0;
}
.name{
    font-size: 40px;
    text-align: center;
    padding-top: 135px;
    padding-bottom: 155px;
}
.naiyo1{
    display: flex;
}
.naiyo2{
    display: flex;
}
.naiyo3{
    display: flex;
}
.ab1 h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.ab1 h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.ab2 h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.ab2 h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.ab3 h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.ab3 h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.ab4 h1{
    display: flex;
    align-items: center;
    padding-right: 867px;
    font-size: 60px;
    color: #3D313F;
    padding-top: 55px;
}
.ab4 h1::before{
    content: '';
    flex-grow: 1;
    height: 3px;
    background-color: #3D313F;
    margin-right: 22px;
}
.ab1 img{
    margin-top: 70px;
    height: 560px;
    margin-bottom: 380px;
}
.ab2 img{
    margin-top: 70px;
    height: 560px;
    margin-bottom: 380px;
    margin-left: 180px;
}
.ab1 p{
    display: block;
    margin-top: 300px;
    margin-left: 80px;
}
.ab2 p{
    display: block;
    margin-top: 190px;
    margin-left: 80px;
}
.naiyo2 span{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    display: block;
}
.naiyo3 p{
    display: block;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 100px;
}
.naiyo3{
    margin-top: 100px;
}
.map{
    display: flex;
}
.ab3{
    margin-bottom: 370px;
}
.naiyo4 img{
    height: 195px;
    margin-left: 540px;
}
.naiyo4{
    position: relative;
}
.naiyo4 a{
    position: absolute;
    text-align: center;
    right: 615px;
    top: 90px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-decoration: underline;
}
.naiyo5 img{
    height: 195px;
    margin-left: 540px;
}
.naiyo5{
    position: relative;
}
.naiyo5 a{
    position: absolute;
    text-align: center;
    right: 680px;
    top: 90px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-decoration: underline;
}
.naiyo6 img{
    height: 195px;
    margin-left: 540px;
}
.naiyo6{
    position: relative;
}
.naiyo6 a{
    position: absolute;
    text-align: center;
    right: 650px;
    top: 90px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-decoration: underline;
}


@media screen and (max-width:450px) {
    .all{
         max-width: 100%;
    }
    .top{
        height: 280px;
        width: 100%;
    }
    .abtitle{
        width: 100%;
        text-align: center;
        margin-top: 100px;
        word-break: keep-all;
    }
    .abtitle h3{
        width: 100px;
    }
    .letter img{
        float: none;
        margin-left: 0;
        width: 480px;
        width: 100%;
    }
    .letter p{
        float: none;
        position: unset;
        margin-left: 0;
        top: unset;
        font-size: 15px;
        word-break: keep-all;
        text-align: center;
        width: 100%;
    }
    .affortable+ .seats{
        border-right: unset;
        border-left: unset;
    }
    .equipment+ .recommendation{
        border-right: unset;
        border-left: unset;
    }
    .findcontent+ .findcontent2{
        border-bottom: unset;
        border-top: unset;
    }
    .findcontent2{
        overflow: unset;
        flex-direction: column;
        margin-left: unset;
        margin-right: unset;

    }
    .equipment{
        margin: 0 auto;
    }
    .recommendation{
        margin: 0 auto;
    }

    footer{
        padding-top: 100px;
    }
    .board{
        overflow-x: scroll;
    }
    
}
